{% extends 'base.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block body %}
    <h1>Create new Auteur</h1>

    {{ include('auteurs/_form1.html.twig') }}

    <a href="{{ path('auteurs_index') }}">back to list</a>
{% endblock %}
