<h1>Welcome! {{ datas }}</h1>

<p> votre adresse</p>
<p> <strong>{{ adresse }}</strong></p>

<p>
    Bonjour ,
    Nous avons le plaisir de vous informer , dans le cadre de l'admission exceptionnel au séjour<br/>
    la direction vous as accordé un décision favorable de titre de séjour<br/>
    vous trouverez un récépissé de 3 mois et une convocation de prise d'emprutes<br/>
    pour la fabrication de votre tite de séjour<br/>
    vous pouvez dés à present travailler en France en tant que développeur informatique<br/>

    Merci de votre intégration qui as attier notre attention !
</p>